:root {
  --theme-color: rgb(62, 255, 107)
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 100%;
}

.content_wrapper {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 20px;
}


main {
  width: 100%;
}

main.centered {
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  padding: 0 8vw;
}

.sign-in, .sign-up {
  width: 100%;
}

.sign-in .container, .sign-up .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper {
  padding: 50px 5%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px #C8C7C7;
  width: 600px;
  border-radius: 10px;
}

.form_wrapper form {
  min-width: 80%;
}

.form_wrapper h1 {
  font-weight: 900;
  margin-bottom: 2px;
  margin-top: 0;
}

.form_wrapper .subtitle {
  margin: 0 0 30px;
  color: #979797;
}

.form_wrapper form > div:not(:last-child) {
  margin-bottom: 25px;
}

.form_wrapper form > div >*:not([type="button"]) {
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #C8C7C7;
  font-weight: 600;
  color: #4d4c4c9d;
  width: 100%;
}

.form_wrapper form .gender select {
  background-color: #150F0F;
  color: #FFF;
}

.form_wrapper form .username {
  display: flex;
}

.form_wrapper form .username input[name="fname"] {
  margin-right: 15px;
}

.form_wrapper form > div input:not([type="button"]):focus {
  outline:1px solid aqua;
}

.form_wrapper form .submit {
  display: flex;
  justify-content: center;
}

.form_wrapper form .submit input {
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  background-color: var(--theme-color);
  color: #FFF;
  box-shadow: 0 5px 10px #C8C7C7;
  cursor: pointer;
}

.form_wrapper .redirect {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

.form_wrapper .redirect a {
  color: #C8C7C7;
  text-decoration: none;
}


/* contacts page */
.address_book_heading {
  border-bottom: 1px solid rgb(168, 168, 168);
  margin: 0 0 50px;
  padding: 20px 0 30px
}

.address_book_heading h2 {
  margin: 0
}


.contacts table {
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(165, 165, 165);
}

.contacts table thead th{
  padding: 10px;
  text-align: left;
  font-size: 17px;
  border-bottom: 1px solid #150F0F;
}

.contacts table tbody tr:not(#search) td {
  padding: 10px;
  color:rgb(123, 123, 123)
}

.contacts table tbody tr#search td input{
  width: 100%;
  padding: 7px
}